.flaskenv
.env
*.sqlite
.DS_Store
*.log
*.logs

venv
node_modules
tmp/coverage/*
__pycache__
.webassets-cache

index.css
tailwindcss
app/static/dist/css/*
app/static/dist/js/*
app/static/dist/images/*
app/static/dist/audio/*
