.flaskenv
.env
*.sqlite
.DS_Store
*.log
*.logs
logs/*

venv
node_modules
__pycache__
.webassets-cache

index.css
tailwindcss
app/static/dist/css/*
app/static/dist/js/*
app/static/dist/images/*
app/static/dist/audio/*
