{% macro pagination_widget(pagination, endpoint) %}
<div class="flex items-center text-sm space-x-2 ">
    <button
        class="p-1 h-8 w-8 flex items-center justify-center border-flasky-500 rounded-full border text-flasky-500 hover:bg-flasky-500 hover:text-white"
        {% if not pagination.has_prev %} disabled {% endif %}>
        <a href="{% if pagination.has_prev %}{{ url_for(endpoint,
page = pagination.page - 1, **kwargs) }}{% else %}#{% endif %}"> &laquo;
        </a>
    </button>
    {% for p in pagination.iter_pages() %}

    {% if p %}
    {% if p == pagination.page %} <button
        class="p-1 h-8 w-8 flex items-center justify-center border-flasky-500 rounded-full border bg-flasky-500 text-white">
        <a href="{{ url_for(endpoint, page = p, **kwargs) }}">{{ p }}</a>
    </button>
    {% else %}
    <button
        class="p-1 h-8 w-8 flex items-center justify-center border-flasky-500 rounded-full border text-flasky-500 hover:bg-flasky-500 hover:text-white">
        <a href="{{ url_for(endpoint, page = p, **kwargs) }}">{{ p }}</a>
    </button>
    {% endif %}
    {% else %}
    <button class="text-flasky-500" disabled><a href="#">...</a></button>
    {% endif %}
    {% endfor %}
    <button
        class="p-1 h-8 w-8 flex items-center justify-center border-flasky-500 rounded-full border text-flasky-500 hover:bg-flasky-500 hover:text-white"
        {% if not pagination.has_next %} disabled {% endif %}> <a href="{% if pagination.has_next %}{{ url_for(endpoint,
page = pagination.page + 1, **kwargs) }}{% else %}#{% endif %}">
            &raquo;
        </a> </button>
</div>
{% endmacro %}