{% for post in posts %}
<div
    class="flex  border p-2 rounded-lg border-flasky-400 hover:border-flasky-500 hover:shadow hover:scale-[1.02] transition duration-500">
    <div class="flex items-center">
        <a href="{{ url_for('main.user', username=post.author.username) }}"> <img class="object-cover rounded-full"
                src="{{ post.author.gravatar(size=64) }}"> </a>
    </div>
    <div class="w-full px-4 py-1">
        <div class="flex justify-between items-start text-xs text-flasky-600 border-b border-flasky-400 pb-1">
            <div>{{ post.author.username }}</div>
            <div>{{ timeago.format(
                post.timestamp, dt.datetime.utcnow()) }}</div>
        </div>
        <div class="pt-1 text-sm text-gray-700 min-h-16">
            {% if post.body_html %}
            {{ post.body_html | safe | truncate(current_app.config.get('POST_MAX_LENGTH')) }}
            {% else %}
            {{ post.body |truncate(current_app.config.get('POST_MAX_LENGTH')) }}
            {% endif %}
        </div>
        <div class="flex mt-4 items-center justify-end space-x-2">
            <div class="flex items-center">{% if current_user == post.author %}
                <a class="text-[10px] px-1 border text-gray-500 border-gray-300 rounded shadow-sm w-16 text-center"
                    href="{{ url_for('.edit', id=post.id) }}"> <span>Edit</span>
                </a>
                {% elif current_user.is_administrator() %}
                <a class="text-[10px] px-1 border text-flasky-500 border-flasky-500 rounded shadow-sm w-16 text-center"
                    href="{{ url_for('.edit', id=post.id) }}">
                    <span class="">Edit
                        Admin</span>
                </a>
                {% endif %}
            </div>
            <div class="text-[10px] px-1 border text-gray-500 border-gray-300 rounded shadow-sm w-16">
                <a href="{{ url_for('.post', id=post.id) }}">
                    <span class="">Permalink</span> </a>
            </div>
        </div>

    </div>

</div>

{% endfor %}