<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flasky confirmation email</title>
</head>

<body>
    <h1>Dear {{ user.username }},</h1>
    <h2>Welcome to Flask Tailwind SAAS Starter!</h2>
    <p>
        To confirm your account please click on the following
        <a href=" {{ url_for('auth.confirm', token=token, _external=True) }}">link</a>
    </p>
    <p>Sincerely</p>
    <p>Flask Tailwind SAAS Starter Team</p>

    <small>Note: replies to this email address are not monitored.</small>
</body>

</html>