<div class="mt-6 flex flex-col items-center pb-4">

    <div class="flex w-full items-center justify-center space-x-2 px-10  text-flasky-500 text-sm font-semibold">
        <div>Made with</div>
        <div class=" text-flasky-500"><svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 shadow-xl"
                viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd"
                    d="M3.172 5.172a4 4 0 015.656 0L10 6.343l1.172-1.171a4 4 0 115.656 5.656L10 17.657l-6.828-6.829a4 4 0 010-5.656z"
                    clip-rule="evenodd" />
            </svg></div>
        <div>in Australia</div>
    </div>
    <div class="flex items-center justify-center mt-1 divide-x-2 divide-flasky-500 text-xs">
        <a href="{{url_for('main.terms_conditions')}}" class=" text-center px-4 underline text-flasky-500"
            target="_blank">Terms
            and
            Conditions</a>
        <p class="px-4 text-center text-flasky-500">&copy; 2021 XYZCompany</p>

        <a href="{{url_for('main.privacy')}}" class=" px-4 underline text-flasky-500" target="_blank">Privacy
            Policy</a>
    </div>
</div>