{% extends 'base.html' %}

{% block body %}
<div class="mx-auto max-w-sm">
    <div class="flex flex-col items-start px-6  ">
        <p class="text-left text-2xl text-flasky-500 font-bold tracking-wide">Edit User Profile</p>


        <form method="POST" class="flex flex-col w-full max-w-xs">
            {{ form.hidden_tag() }}
            <div class="text-flasky-600">
                {% for error in form.name.errors %}
                <p class="my-2 border text-xs border-flasky-500 px-2 py-1 rounded shadow font-bold">{{ error }}</p>
                {% endfor %}
                {% for error in form.location.errors %}
                <p class="my-2 border text-xs border-flasky-500 px-2 py-1 rounded shadow font-bold">{{ error }}</p>
                {% endfor %}
                {% for error in form.about_me.errors %}
                <p class="my-2 border text-xs border-flasky-500 px-2 py-1 rounded shadow font-bold">{{ error }}</p>
                {% endfor %}
                {% for error in form.email.errors %}
                <p class="my-2 border text-xs border-flasky-500 px-2 py-1 rounded shadow font-bold">{{ error }}</p>
                {% endfor %}
                {% for error in form.username.errors %}
                <p class="my-2 border text-xs border-flasky-500 px-2 py-1 rounded shadow font-bold">{{ error }}</p>
                {% endfor %}
                {% for error in form.role.errors %}
                <p class="my-2 border text-xs border-flasky-500 px-2 py-1 rounded shadow font-bold">{{ error }}</p>
                {% endfor %}
                {% for error in form.confirmed.errors %}
                <p class="my-2 border text-xs border-flasky-500 px-2 py-1 rounded shadow font-bold">{{ error }}</p>
                {% endfor %}
                {% for error in form.active.errors %}
                <p class="my-2 border text-xs border-flasky-500 px-2 py-1 rounded shadow font-bold">{{ error }}</p>
                {% endfor %}
                {% for error in form.verified.errors %}
                <p class="my-2 border text-xs border-flasky-500 px-2 py-1 rounded shadow font-bold">{{ error }}</p>
                {% endfor %}
            </div>
            {{ form.name.label(class='mt-6 text-sm font-semibold text-flasky-500') }}
            {{ form.name(class ='shadow appearance-none focus:border-flasky-500 focus:border-2 border-flasky-500 border
            rounded w-full py-2 px-3 text-gray-700 leading-tight
            focus:outline-none focus:shadow-outline text-sm') }}
            {{ form.location.label(class='mt-4 text-sm font-semibold text-flasky-500') }}
            {{ form.location(required=False, class ='shadow appearance-none focus:border-flasky-500 focus:border-2
            border-flasky-500
            border rounded w-full py-2 px-3 text-gray-700 leading-tight
            focus:outline-none focus:shadow-outline text-sm') }}
            {{ form.about_me.label(class='mt-4 text-sm font-semibold text-flasky-500') }}
            {{ form.about_me(required=False, class ='shadow appearance-none focus:border-flasky-500 focus:border-2
            border-flasky-500
            border rounded w-full py-2 px-3 text-gray-700 leading-tight
            focus:outline-none focus:shadow-outline text-sm') }}

            <!-- <p class="underline font-bold text-flasky-600 uppercase mt-6">For admin only</p> -->
            {% if current_user.is_administrator() %}
            {{ form.email.label(class='mt-6 text-sm font-semibold text-flasky-500') }}
            {{ form.email(class ='shadow appearance-none focus:border-flasky-500 focus:border-2 border-flasky-500 border
            rounded w-full py-2 px-3 text-gray-700 leading-tight
            focus:outline-none focus:shadow-outline text-sm') }}
            {{ form.username.label(class='mt-6 text-sm font-semibold text-flasky-500') }}
            {{ form.username(class ='shadow appearance-none focus:border-flasky-500 focus:border-2 border-flasky-500
            border
            rounded w-full py-2 px-3 text-gray-700 leading-tight
            focus:outline-none focus:shadow-outline text-sm') }}
            {{ form.role.label(class='mt-6 text-sm font-semibold text-flasky-500') }}
            {{ form.role(class ='shadow appearance-none focus:border-flasky-500 focus:border-2 border-flasky-500
            border
            rounded w-full py-2 px-3 text-gray-700 leading-tight
            focus:outline-none focus:shadow-outline text-sm') }}
            <div class="mt-4 text-sm space-x-2 flex items-center text-flasky-500 font-semibold ">
                {{ form.confirmed.label }}
                {{ form.confirmed(class =' text-flasky-500 appearance-none focus:outline-none border-flasky-500
                rounded') }}
            </div>
            <div class="mt-4 text-sm space-x-2 flex items-center text-flasky-500 font-semibold ">
                {{ form.active.label }}
                {{ form.active(class =' text-flasky-500 appearance-none focus:outline-none border-flasky-500
                rounded') }}
            </div>
            <div class="mt-4 text-sm space-x-2 flex items-center text-flasky-500 font-semibold ">
                {{ form.verified.label }}
                {{ form.verified(class =' text-flasky-500 appearance-none focus:outline-none border-flasky-500
                rounded') }}
            </div>

            {% endif %}


            {{form.submit(class='hover:text-white hover:bg-flasky-500 cursor-pointer px-4 py-1 border border-flasky-500
            text-flasky-500
            rounded mt-6 font-bold w-32')}}
        </form>


    </div>
</div>


{% endblock body %}