{% extends "base.html" %}
{% block title %}Flasky - Edit Post{% endblock %}
{% block body %}
<div class="page-header">
</div>

<div class="w-full max-w-2xl mx-auto">
    <h1 class="text-flasky-500 font-semibold">Edit Post</h1>

    <form method="POST" class="flex flex-col">
        {{ form.hidden_tag() }}
        <div class="text-flasky-600">
            {% for error in form.body.errors %}
            <p class="my-2 border text-xs border-flasky-500 px-2 py-1 rounded shadow font-bold">{{ error }}</p>
            {% endfor %}

        </div>
        {{ form.body.label(class='mt-6 text-sm font-semibold text-flasky-500') }}
        {{ form.body(class ='shadow appearance-none focus:border-flasky-500 focus:border-2 border-flasky-500
        border
        rounded w-full py-2 px-3 text-gray-700 leading-tight
        focus:outline-none focus:shadow-outline', rows=4) }}


        {{form.submit(class='hover:text-white hover:bg-flasky-500 cursor-pointer px-4 py-1 border
        border-flasky-500
        text-flasky-500
        rounded-full mt-4 font-bold w-32')}}
    </form>
    <div class="mt-6 flex flex-col space-y-3">
        {% include 'partials/_posts.html' %}

    </div>



</div>
{% endblock %}
{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}