{% extends "base.html" %}
{% block body %}


<div class="mx-auto flex flex-col justify-center items-center">

    <div class="text-2xl font-semibold w-full text-center text-flasky-600">
        Hello,
        <span class="">
            {% if current_user.is_authenticated %}
            <a class="underline underline-offset-1 decoration-flasky-400 decoration-4 px-2"
                href="{{url_for('main.user', username=current_user.username)}}">{{ current_user.username }}</a>
            {% else %}
            Stranger
            {% endif %}!
        </span>
    </div>
</div>

{% endblock body %}