{% extends "base.html" %}
{% import "partials/_macros.html" as macros %}
{% block body %}


<div class="mx-auto flex flex-col justify-center items-center w-full">

    <div class="text-2xl font-semibold w-full text-flasky-600 max-w-2xl">
        Hello,
        <span class="">
            {% if current_user.is_authenticated %}
            <a class="underline underline-offset-1 decoration-flasky-400 decoration-4 px-2"
                href="{{url_for('main.user', username=current_user.username)}}">{{ current_user.username }}</a>
            {% else %}
            Stranger
            {% endif %}!
        </span>
    </div>
    {% if current_user.can(Permission.WRITE) %}

    <div class="w-full max-w-2xl">
        <form method="POST" class="flex flex-col">
            {{ form.hidden_tag() }}
            <div class="text-flasky-600">
                {% for error in form.body.errors %}
                <p class="my-2 border text-xs border-flasky-500 px-2 py-1 rounded shadow font-bold">{{ error }}</p>
                {% endfor %}

            </div>
            {{ form.body.label(class='mt-6 text-sm font-semibold text-flasky-500') }}
            {{ form.body(class ='shadow appearance-none focus:border-flasky-500 focus:border-2 border-flasky-500
            border
            rounded w-full py-2 px-3 text-gray-700 leading-tight
            focus:outline-none focus:shadow-outline', rows=4) }}


            {{form.submit(class='hover:text-white hover:bg-flasky-500 cursor-pointer px-4 py-1 border
            border-flasky-500
            text-flasky-500
            rounded-full mt-4 font-bold w-32')}}
        </form>
        <div class="mt-6 flex flex-col space-y-3">
            {% include 'partials/_posts.html' %}

        </div>
        {% if pagination %}
        <div class="mt-2 mx-auto flex justify-center">
            {{ macros.pagination_widget(pagination, '.index') }}
        </div>
        {% endif %}


    </div>
    <div class="hidden flask-pagedown-preview h-0 w-0"></div>


    {% endif %}
</div>

{% endblock body %}
{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}