{% extends 'base.html' %}
{% import "partials/_macros.html" as macros %}

{% block body %}
<div class="max-w-2xl w-full mx-auto px-2">
    <img class="img-rounded shadow rounded-full" src="{{ user.gravatar(size=128) }}">


    <div class="flex items-center mt-6 text-flasky-600 space-x-1">

        <a class=" inline-block text-lg font-bold rounded " href="{{url_for('main.user', username=user.username)}}">
            @{{user.username}}
        </a>
        {% if user.verified %}
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd"
                d="M10 1.944A11.954 11.954 0 012.166 5C2.056 5.649 2 6.319 2 7c0 5.225 3.34 9.67 8 11.317C14.66 16.67 18 12.225 18 7c0-.682-.057-1.35-.166-2.001A11.954 11.954 0 0110 1.944zM11 14a1 1 0 11-2 0 1 1 0 012 0zm0-7a1 1 0 10-2 0v3a1 1 0 102 0V7z"
                clip-rule="evenodd" />
        </svg>
        {% endif %}

    </div>
    {% if current_user.is_authenticated and user != current_user and
    user.is_following(current_user) %}
    <span class="text-xs text-gray-500 px-4 py-1 border rounded border-gray-400">Follows
        you</span>
    {% endif %}
    <div class="text-2xl text-gray-500 tracking-wider font-extrabold mt-2">{% if user.name %}
        {{user.name}}
        {% endif %}</div>
    <div class="font-semibold text-flasky-600  decoration-2 mt-2 underline underline-offset-1 decoration-flasky-400 ">
        {%
        if user.location %}
        <a class="flex items-center space-x-2" href="http://maps.google.com/?q={{ user.location }}">
            <span>
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                    <path
                        d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z" />
                </svg>
            </span>

            <span>

            </span>
            {{user.location}}</a>

        {% endif %}
    </div>
    <div class="text-sm text-gray-500 mt-0 ">
        {% if current_user.is_administrator() %}
        <p class="underline underline-offset-1 decoration-flasky-400 decoration-2 "> <a
                href="mailto:{{ user.email }}">{{ user.email }}</a></p>
        {% endif %}

        {% if user.about_me %}<p class="mt-6 font-mono  text-sm rounded py-2 w-full">
            {{
            user.about_me }}</p>{% endif
        %}
    </div>

    <div class="text-xs text-gray-400 mt-2">

        <p>
            Joined {{ user.member_since.strftime('%d %b %Y') }} (last seen {{ user_last_seen_time_ago }})
        </p>
    </div>
    <div class="my-6 flex items-center space-x-6">

        {% if current_user.can(Permission.FOLLOW) and user != current_user %} {% if not current_user.is_following(user)
        %}
        <a href="{{ url_for('.follow', username=user.username) }}"
            class="w-28 text-center inline-block border-flasky-500 border px-6 py-1 rounded shadow-sm hover:shadow bg-flasky-500 text-white hover:text-flasky-500 hover:bg-white"
            clas>Follow</a> {% else %}
        <a href="{{ url_for('.unfollow', username=user.username) }}"
            class="w-28 text-center inline-block border-flasky-800 border px-6 py-1 rounded shadow-sm hover:shadow bg-flasky-800 text-white hover:text-flasky-800 hover:bg-white">Unfollow</a>
        {% endif %}
        {% endif %}
        <a class="hover:underline decoration-flasky-500" href="{{ url_for('.followers', username=user.username) }}">
            <span class="text-gray-800 font-bold">{{
                user.followers.count() - 1
                }}</span> followers
        </a>
        <a class="hover:underline decoration-flasky-500" href="{{ url_for('.followed_by', username=user.username) }}">
            <span class="text-gray-800 font-bold">{{ user.followed.count() - 1}}</span> following </a>

    </div>
    <div class="flex items-center space-x-2">
        {% if user == current_user %}
        <a class="px-4 py-1 hover:bg-flasky-500 hover:shadow hover:text-white rounded border border-flasky-500 text-flasky-500 font-semibold text-sm"
            href="{{ url_for('main.edit_profile') }}"> Edit
            Profile
        </a>
        {% endif %}

        {% if current_user.is_administrator() %}
        <a class="px-4 py-1 bg-white hover:shadow text-danger-500 rounded border border-danger-500 hover:text-white font-semibold text-sm hover:bg-danger-500"
            href="{{ url_for('main.edit_profile_admin', username=user.username) }}">
            Edit Profile [Admin]
        </a>
        {% endif %}
    </div>
    <p class="mt-6 font-extrabold text-lg tracking-wide text-flasky-600">
        Posts</p>
    <div class="flex flex-col space-y-2 mt-2">

        {% include 'partials/_posts.html' %}
    </div>
    {% if pagination %}
    <div class="mt-2 mx-auto flex justify-center">
        {{ macros.pagination_widget(pagination, '.user', username=user.username) }}
    </div>
    {% endif %}
</div>
{% endblock body %}